.headerStyle {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 40px; */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(215, 215, 215, 1) 100%
  );
  color: #fff;
  text-align: left;
  padding: 10px 0;
  height: 80px;
  z-index: 1000;
}
.logo-top-svg {
  width: 66px;
  height: 66px;
}
.info-top {
  /* padding: 0.82rem; */
}
.info-top-frame {
  color: #444444;
  padding: 5px;
  background: rgba(161, 161, 161, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(161, 161, 161, 0.85) 100%
  );
  border-radius: 0.82rem;
  box-shadow: 0 0 4px 0 #44444428;
}
.info-top-frame p {
  padding: 0;
  margin: 0;
}
.info-top-frame p small {
  font-size: 9px;
}
.walletAddress {
  padding-left: 5px !important;
  background-color: #4444441e;
  border-radius: 0.82rem;
  line-height: 15px;
}
.WallectConnectIcon {
  width: 15px;
  height: 15px;
}
