.contentStyle {
  padding: 80px 20px 110px 20px;
}
.dashboard-balance {
  position: relative;
  color: #fff;
  padding: 0.82rem;
  border-radius: 0.82rem;
  background: rgb(53, 95, 203);
  background: radial-gradient(
    circle at left bottom,
    rgba(53, 95, 203, 1) 0%,
    rgba(68, 68, 68, 1) 53%,
    rgba(98, 59, 59, 1) 99%
  );
  box-shadow: 0 0 4px 0 #a1a1a1bb;
  margin-bottom: 30px;
}
.dashboard-balance::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 90%;
  height: 100%;
  background-color: hsla(0, 0%, 63%, 0.8);
  bottom: -10px;
  border-radius: 0.82rem;
  box-shadow: 0 0 4px 0 #a1a1a191;
}
.dashboard-balance::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 100%;
  background-color: #c7c7c7af;
  bottom: -15px;
  border-radius: 0.82rem;
  box-shadow: 0 0 4px 0 #a1a1a177;
}
.dashboard-balance-frame p {
  margin: 0;
  padding: 0;
}
.dashboard-balance-frame .activate-plans {
  background-color: #7575752d;
  color: #a0a0a0;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0.5rem;
  font-size: 0.6rem;
  box-shadow: inset 2px 2px 5px #161616, inset -2px -2px 5px #3a3a3a;
  border: 1px solid #66666621;
}
.table-active-stage {
  padding: 0.82rem;
}
.table-active-stage thead th {
  font-size: 0.72rem;
}
.table-active-stage tbody td {
  font-size: 0.72rem;
}
.table-active-stage thead th:first-child {
  border-radius: 0.82rem 0 0 0;
}
.table-active-stage thead th:last-child {
  border-radius: 0 0.82rem 0 0;
}
.table-active-stage tbody tr:last-child td:first-child {
  border-radius: 0 0 0 0.82rem;
}
.table-active-stage tbody tr:last-child td:last-child {
  border-radius: 0 0 0.82rem 0;
}
.dashboard-arbibot {
  background: rgb(161, 161, 161);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(161, 161, 161, 0.342) 100%
  );
  padding: 0.82rem;
  border-radius: 0.82rem;
  border: 1px solid #44444413;
}
.upgrade-stage-icon {
  width: 14px;
  height: 14px;
}
.arbot-stage {
  background: rgb(219, 253, 32);
  background: radial-gradient(
    circle at right top,
    rgba(219, 253, 32, 1) 0%,
    rgba(42, 106, 64, 1) 100%
  );
  padding: 1rem;
  border-radius: 0.82rem;
  position: relative;
  text-shadow: 0 0 2px #003104;
}
.arbot-stage::after {
  content: "";
  background-color: #ffffff00;
  z-index: -4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.82rem;
  position: absolute;
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}
.arbot-stage::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 0.82rem;
  background: rgba(42, 106, 64, 0.459);
  background: radial-gradient(
    circle at right bottom,
    rgb(42, 106, 64) 0%,
    rgba(219, 253, 32) 100%
  );
  z-index: -1;
  box-shadow: 0 0 6px 0 #72794e;
}
.arbot-stage-sticker {
  width: 101px;
  height: 101px;
}
.table-active-arbot tbody td {
  font-size: 0.72rem;
  background-color: #72727280;
  color: #fff;
  text-shadow: 0 0 2px #003104;
}
.table-active-arbot tbody tr:first-child td:first-child {
  border-radius: 0.82rem 0 0 0;
}
.table-active-arbot tbody tr:first-child td:last-child {
  border-radius: 0 0.82rem 0 0;
}
.table-active-arbot tbody tr:last-child td:first-child {
  border-radius: 0 0 0 0.82rem;
}
.table-active-arbot tbody tr:last-child td:last-child {
  border-radius: 0 0 0.82rem 0;
}
.footer-arbot-frame {
  width: 100%;
  height: 20px;
  margin-top: 2rem;
  padding: 0 0 1.5rem;
}
.growup-btn {
  text-align: right;
}
.growup-btn a {
  background: rgb(8, 66, 28);
  background: linear-gradient(
    0deg,
    rgba(8, 66, 28, 1) 0%,
    rgba(133, 157, 3, 1) 100%
  );
  border-radius: 0.5rem;
}
.growup-btn a:focus {
  opacity: 0.9;
}
.icon-growup {
  width: 20px;
  height: 20px;
}
.readmore-btn {
  font-size: 10px;
  text-align: left;
  padding-left: 1rem;
  color: #fff;
}
.readmore-btn p {
  padding: 0;
  margin: 0;
}
.readmore-btn a {
  text-decoration: none;
  color: rgb(0, 47, 255);
  text-shadow: none;
}
.lottery-block {
  background: rgb(161, 161, 161);
  color: #003104;
  background: linear-gradient(
    0deg,
    rgba(197, 252, 206, 0.2) 0%,
    rgba(24, 109, 35, 0.342) 100%
  );
  padding: 0.82rem;
  border-radius: 0.82rem;
  border: 1px solid rgba(5, 65, 3, 0.13);
}
