.lottery-block-content {
}

.countdown {
  font-size: 1.5rem;
  color: #ff0000;
}

.countdown .time {
  /* margin: 0 5px; */
  margin: 0;
  width: 80px;
  height: 80px;
  background: rgb(209, 245, 34);
  background: radial-gradient(
    circle at top right,
    rgba(209, 245, 34, 1) 0%,
    #31703f 85%
  );
  /* border-radius: 0.5rem; */
  padding: 0.5rem;
  color: #fff;
  text-shadow: 0 0 2px #103d1a;
  box-shadow: 0 0 7px 0 #103d1a;
  border: 1px solid #22572d9a;
}
.countdown .time:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.countdown .time:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

.countdown .label {
  font-size: 0.82rem;
  color: #d3d3d3;
}
