.contentStyle {
  padding: 80px 20px 110px 20px;
}
.xg-plan-info-frame {
  background: rgb(161, 161, 161);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(161, 161, 161, 0.342) 100%
  );
  padding: 0.82rem;
  border-radius: 0.82rem;
  border: 1px solid #44444413;
  font-size: 0.82rem;
}

.xg-plan-info-frame .container {
  padding: 0 !important;
}

.slick-dots {
  margin-bottom: 0.7rem !important;
}
